@font-face {
  font-family: Bitcount;
  src: url("../src/assets/fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url("../src/assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-bitcount: Bitcount, "sans-serif";
  --font-robotocondensed: RobotoCondensed, "sans-serif";
}